<launch> 

<!-- First lidar -->
<group ns="invz1">
  <include file="$(find innoviz_ros)/launch/innoviz_ros.launch">
    <arg name="config_file_path" default="$(find innoviz_ros)/../../../examples/lidar_configuration_files/om_ignore_blooming_config.json" />
    <arg name="get_attributes_timeout" default="1000"/>  
    <arg name="ref0" default="invz_reflection_0"/>
    <arg name="ref1" default="invz_reflection_1" />
    <arg name="ref2" default="invz_reflection_2" />
    <arg name="summation" default="invz_summation_reflection" />
    <arg name="invz_log_path" default="" />
    <arg name="invz_log_level" default="3" /> <!-- API log levels: 3=Warning 4=Error 5=Fatal 6=None -->
    <arg name="ros_log_level" default="1" />
    <arg name="recording_file_path" default="" />
    <arg name="fpa" default="0.01" />   <!--Between 0.00012 (0.012% false alarm rate) and 0.05 (5% false alarm rate) -->
    <arg name="frame_id" default="invz1_frame" />
	<arg name="pcl_timestamp_option" default="published"/> <!-- timestamp to put in pcl message - sampled (time), received (time), published (time) -->
  </include>
</group>

<!-- Second lidar -->
<group ns="invz2">
  <include file="$(find innoviz_ros)/launch/innoviz_ros.launch">
    <arg name="config_file_path" default="$(find innoviz_ros)/../../../examples/lidar_configuration_files/om_ignore_blooming_config_2.json" />
    <arg name="get_attributes_timeout" default="1000"/> 
    <arg name="ref0" default="invz_reflection_0"/>
    <arg name="ref1" default="invz_reflection_1" />
    <arg name="ref2" default="invz_reflection_2" />
    <arg name="summation" default="invz_summation_reflection" />
    <arg name="invz_log_path" default="" />
    <arg name="invz_log_level" default="3" /> <!-- API log levels: 3=Warning 4=Error 5=Fatal 6=None -->
    <arg name="ros_log_level" default="1" />
    <arg name="recording_file_path" default="" />
    <arg name="fpa" default="0.01" />   <!--Between 0.00012 (0.012% false alarm rate) and 0.05 (5% false alarm rate) -->
    <arg name="frame_id" default="invz2_frame" />
	<arg name="pcl_timestamp_option" default="published"/> <!-- timestamp to put in pcl message - sampled (time), received (time), published (time) -->
  </include>
</group>

<!-- Add more lidars here ...-->


<!-- start rviz - FIRST REMOVE THE RVIZ SECTION FROM THE innoviz_ros.launch FILE-->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find innoviz_ros)/include/two_lidars.rviz" />

<!-- run tf transforms -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_invz1" args="0 0 0 0 0 0 /base_link /invz1_frame" /> 

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_invz2" args="-0.4 0 0 -1.05 0 .1 /base_link /invz2_frame" /> 

</launch>